html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* Border setting */
.bdr-c1 { border: 1px solid #f0f0f0; }
.bdr-tc1 { border-top: 1px solid #f0f0f0; }
.bdr-bc1 { border-bottom: 1px solid #f0f0f0; }
.bdr-lc1 { border-left: 1px solid #f0f0f0; }
.bdr-rc1 { border-right: 1px solid #f0f0f0; }
.bdr-c2 { border: 1px solid #eee; }
.bdr-tc2 { border-top: 1px solid #eee; }
.bdr-bc2 { border-bottom: 1px solid #eee; }
.bdr-lc2 { border-left: 1px solid #eee; }
.bdr-rc2 { border-right: 1px solid #eee; }
.bdr-c3 { border: 1px solid #ccc; }
.bdr-tc3 { border-top: 1px solid #ccc; }
.bdr-bc3 { border-bottom: 1px solid #ccc; }
.bdr-lc3{ border-left: 1px solid #ccc; }
.bdr-rc3 { border-right: 1px solid #ccc; }
.bdr-c4 { border: 1px solid #bbb; }
.bdr-tc4 { border-top: 1px solid #bbb; }
.bdr-bc4 { border-bottom: 1px solid #bbb; }
.bdr-lc4 { border-left: 1px solid #bbb; }
.bdr-rc4 { border-right: 1px solid #bbb; }
.bdr-c5 { border: 1px solid #aaa; }
.bdr-tc5 { border-top: 1px solid #aaa; }
.bdr-bc5 { border-bottom: 1px solid #aaa; }
.bdr-lc5 { border-left: 1px solid #aaa; }
.bdr-rc5 { border-right: 1px solid #aaa; }
.bdr-r1 { border: 1px solid #ff0000; }
.bdr-tr1 { border-top: 1px solid #ff0000; }
.bdr-br1 { border-bottom: 1px solid #ff0000; }
.bdr-lr1 { border-left: 1px solid #ff0000; }
.bdr-rr1 { border-right: 1px solid #ff0000; }

/*
--------------------------------------------------
 ▽ Margin setting
-------------------------------------------------- */
.m0 { margin: 0px !important; }
.m05 { margin: 5px !important; }
.m10 { margin: 10px !important; }
.m15 { margin: 15px !important; }
.m20 { margin: 20px !important; }
.m25 { margin: 25px !important; }
.m30 { margin: 30px !important; }
.m35 { margin: 35px !important; }
.m40 { margin: 40px !important; }
.m45 { margin: 45px !important; }

.mt0 { margin-top:  0px !important; }
.mt05 { margin-top:  5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mt60 { margin-top: 60px !important; }
.mt65 { margin-top: 65px !important; }

.mr0 { margin-right:  0px !important; }
.mr05 { margin-right:  5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }
.mr55 { margin-right: 55px !important; }
.mr60 { margin-right: 60px !important; }
.mr65 { margin-right: 65px !important; }

.mb0 { margin-bottom:  0px !important; }
.mb05 { margin-bottom:  5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb55 { margin-bottom: 55px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb65 { margin-bottom: 65px !important; }

.ml0 { margin-left:  0px !important; }
.ml05 { margin-left:  5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }
.ml55 { margin-left: 55px !important; }
.ml60 { margin-left: 60px !important; }
.ml65 { margin-left: 65px !important; }

/*
--------------------------------------------------
 ▽ Padding setting
-------------------------------------------------- */
.p0 { padding: 0px !important; }
.p05 { padding: 5px !important; }
.p10 { padding: 10px !important; }
.p15 { padding:15px !important; }
.p20 { padding: 20px !important; }
.p25 { padding:25px !important; }
.p30 { padding: 30px !important; }
.p35 { padding:35px !important; }
.p40 { padding: 40px !important; }
.p45 { padding:45px !important; }
.p50 { padding: 50px !important; }
.p55 { padding:55px !important; }
.p60 { padding: 60px !important; }
.p65 { padding:65px !important; }

.pt0 { padding-top:  0px !important; }
.pt05 { padding-top:  5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }
.pt55 { padding-top: 55px !important; }
.pt60 { padding-top: 60px !important; }
.pt65 { padding-top: 65px !important; }

.pr0  { padding-right: 0px !important; }
.pr05  { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pr45 { padding-right: 45px !important; }
.pr50 { padding-right: 50px !important; }
.pr55 { padding-right: 55px !important; }
.pr60 { padding-right: 60px !important; }
.pr65 { padding-right: 65px !important; }

.pb0 { padding-bottom:  0px !important; }
.pb05 { padding-bottom:  5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb55 { padding-bottom: 55px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb65 { padding-bottom: 65px !important; }

.pl0 { padding-left:  0px !important; }
.pl05 { padding-left:  5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pl45 { padding-left: 45px !important; }
.pl50 { padding-left: 50px !important; }
.pl55 { padding-left: 55px !important; }
.pl60 { padding-left: 60px !important; }
.pl65 { padding-left: 65px !important; }

/*
--------------------------------------------------
 ▽ radius setting
-------------------------------------------------- */
.r0 { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.r02 { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.r03 { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.r04 { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.r05 { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.r06 { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.r07 { -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }
.r08 { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
.r09 { -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; }
.r10 { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.r11 { -webkit-border-radius: 11px; -moz-border-radius: 11px; border-radius: 11px; }
.r12 { -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; }
.r13 { -webkit-border-radius: 13px; -moz-border-radius: 13px; border-radius: 13px; }
.r14 { -webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px; }
.r15 { -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.r16 { -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; }
.r17 { -webkit-border-radius: 17px; -moz-border-radius: 17px; border-radius: 17px; }
.r18 { -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px; }
.r19 { -webkit-border-radius: 19px; -moz-border-radius: 19px; border-radius: 19px; }
.r20 { -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; }

/*
--------------------------------------------------
 ▽ Width setting
-------------------------------------------------- */
.wp1 { width: 1% !important; }
.wp2 { width: 2% !important; }
.wp3 { width: 3% !important; }
.wp4 { width: 4% !important; }
.wp5 { width: 5% !important; }
.wp6 { width: 6% !important; }
.wp7 { width: 7% !important; }
.wp8 { width: 8% !important; }
.wp9 { width: 9% !important; }
.wp10 { width: 10% !important; }
.wp15 { width: 15% !important; }
.wp20 { width: 20% !important; }
.wp25 { width: 25% !important; }
.wp30 { width: 30% !important; }
.wp35 { width: 35% !important; }
.wp40 { width: 40% !important; }
.wp45 { width: 45% !important; }
.wp46 { width: 46% !important; }
.wp47 { width: 47% !important; }
.wp48 { width: 48% !important; }
.wp48 { width: 48% !important; }
.wp50 { width: 50% !important; }
.wp55 { width: 55% !important; }
.wp60 { width: 60% !important; }
.wp65 { width: 65% !important; }
.wp70 { width: 70% !important; }
.wp75 { width: 75% !important; }
.wp80 { width: 80% !important; }
.wp85 { width: 85% !important; }
.wp90 { width: 90% !important; }
.wp99 { width: 99% !important; }
.wp95 { width: 95% !important; }
.wp100 { width: 100% !important; }

.w10px{ width: 10px !important; }
.w20px{ width: 20px !important; }
.w30px{ width: 30px !important; }
.w40px{ width: 40px !important; }
.w50px{ width: 50px !important; }
.w60px{ width: 60px !important; }
.w70px{ width: 70px !important; }
.w80px{ width: 80px !important; }
.w90px{ width: 90px !important; }
.w100px{ width: 100px !important; }
.w110px{ width: 110px !important; }
.w120px{ width: 120px !important; }
.w130px{ width: 130px !important; }
.w140px{ width: 140px !important; }
.w150px{ width: 150px !important; }
.w160px{ width: 160px !important; }
.w170px{ width: 170px !important; }
.w180px{ width: 180px !important; }
.w190px{ width: 190px !important; }
.w200px{ width: 200px !important; }
.w210px{ width: 210px !important; }
.w220px{ width: 220px !important; }
.w230px{ width: 230px !important; }
.w240px{ width: 240px !important; }
.w250px{ width: 250px !important; }
.w260px{ width: 260px !important; }
.w270px{ width: 270px !important; }
.w280px{ width: 280px !important; }
.w290px{ width: 290px !important; }
.w300px{ width: 300px !important; }
.w350px{ width: 350px !important; }
.w400px{ width: 400px !important; }
.w450px{ width: 450px !important; }
.w500px{ width: 500px !important; }
.w550px{ width: 550px !important; }
.w600px{ width: 600px !important; }
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
    background: url(../images/bg.png) no-repeat #fff;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 300;
	
}
.wrap {
	width: 80%;
	margin: 0px auto;
}
.content{
	min-height: 46em;
}
.content-grid {
	text-align: center;
}
input[type="text"] {
	font-family: 'Alegreya Sans', sans-serif;
	border: none;
	-webkit-border-radius: 3px 33px 33px 3px;
	border-radius: 10px 33px 33px 10px;
	color: rgba(85, 85, 85, 0.85);
	font-size: 1.1em;
	display: inline;
	padding: 19.7px 13px;
	background: #f5f5f5;
	border-top: 2px solid #000;
	outline: none;
	width: 33%;
	box-shadow: 0px 11px 34px #111;
	vertical-align: middle;
}
form {
	margin-bottom: 0;
	text-align: center;
	width: 100%;
}
.content-grid p img{
	text-align: center;
	z-index: -9999;
	margin-top: -11em;
}
.grid  {
	text-align: center;
	margin-top: 1em;
}
.grid h3 {
	font-family: 'Petit Formal Script', cursive;
	color: #FFF;
	display: block;
	padding-bottom: 2.5em;
	font-size: 1.6em;
	padding-top: 1.5em;
	font-weight: 600;
	text-align: center;
}
.footer
{
	
}
.footer p.a {
	
	display: block;
	line-height: 1.8em;
	text-align: center;
	margin-top: 4em;
}
.footer p {
	font-family: 'Titillium Web', sans-serif;
	color:rgba(14, 151, 243, 0.63);
	display: block;
	font-size: 1em;
	font-weight: 100;
	line-height: 1.8em;
	text-align: center;
	margin-top: 1em;
	text-shadow: 0px 1px 0px rgba(255, 250, 250, 0.09);
}
.footer p.a a{
	color: #000;
		-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	font-weight: 900;
}
.footer p a{
	color: #0E97F3;
		-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	
}
.footer p a:hover{
	color: #fff;
}
/*-----start-responsive-design------*/
@media only screen and (max-width: 1366px) and (min-width: 1280px){
	.wrap{
		width:95%;
	}
	.content-grid p img{
		margin-top: -8em;
	}

}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.wrap{
		width:95%;
	}
	.content-grid p img{
		margin-top: -8em;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.wrap{
		width:95%;
	}
		.grid p {
		margin-top: 1em;
	}
	.footer p.a {
		margin-top: 4em;
	}
	.content-grid p img{
		margin-top: -8em;
	}
}
@media only screen and (max-width: 768px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.content-grid p {
		margin-top: 5.9em;
	}
	.footer p.a {
		margin-top: 4em;
		margin-bottom: 0em;
	}
	.footer p {
		margin-bottom: 1em;
	}
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
	.wrap{
		width:95%;
	}
	.content-grid p img{
		margin-top: -2em;
		width: 300px;
		text-align: center;
	}
	.content-grid {
		text-align: center;
		margin: 0px auto;
	}
	.footer p.a {
		margin-top: 2.7em;
		margin-bottom: 0em;
	}
	.footer p.a a img {
		margin-bottom: 0em;
		width:100px;
	}
	.footer p {
		margin-bottom: 1em;
		margin-top: 0.8em;
        font-size:0.9em;
	}
}
@media only screen and (max-width: 320px) and (min-width: 240px) {
	.content-grid p {
		margin-top:3em;
	}
	.footer p.a {
		margin-top: 2.5em;
		margin-bottom: 0em;
	}
	.footer p {
		margin-bottom: 1em;
	}
	.content-grid p img {
		margin-top: -4.6em;
	}
	.wrap{
		width:95%;
	}
}